@model IEnumerable<string>
<div class="btn-group btn-group-sm btn-group-justified">
    @Html.ActionLink("Anasayfa", "Listele", "Urun", new { @class = "btn btn-default btn-sm" })
    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Urun",
            action = "Listele",
            category = link,
            page = 1
        }, new
        {
            @class = "btn btn-default btn-sm"
            + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
        })
    }
</div>
